/***** CSS RESET *****/ /*(overrides default browser styling for a clean slate) */
html{
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
body, 
h1, 
h2, 
h3, f
h4, 
h5, 
h6, 
p, 
ol, 
ul{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, 
ul{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

/*---------- END CSS Reset ----------*/

/*-*-*-*-* GLOBAL STYLES *-*-*-*-*/

/* Colour Palette */
:root {
  --aquamarine: #02f5bf;
  --robineggblue: #01c9c7;
  --amber: #Ffbe00;
  --imperialred: #f04444;
  --oxfordblue: #0C1831;
  --paynesgrey: #536980;
  --white: #ffffff;
  --black: #000000;

/*  inherited colors  */
  --text: var(--color5);
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size:18px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 165px;
  color: var(--oxfordblue);
}

h2,
h3,
h4,
h5,
h6{
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/*Formatting*/
.title-dark{
  font-family: "Raleway";
  font-size: 2.5em;
  color: var(--oxfordblue);
  line-height: 1.8;
}

.title-light{
  font-family: "Raleway";
  font-size: 2.5em;
  color: var(--white);
  margin-right: 25px;
  line-height: 1.8;
  justify-content: left;

}

.title::before{
  margin-top: 80px;
}

.title::after{
  margin-bottom: 50px;
}

.sub-title{
  font: "Raleway";
  font-size: 24px;
  color: var(--oxfordblue);
  margin-right: 25px;
  justify-content: left;  
}

.body{
  font: "Raleway";
  font-size:  18px;
  color: var(--oxfordblue);
  padding: 10px;
  margin-right: 25px;
  justify-content: left;  
}

/* Header*/
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .sticky{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #f9f3f3;
} 

header .sticky + .content{
  padding-top: 40px;
} 

#logo{
  display: flex;
  align-self: center;
  width: 50px;
  margin: 20px 20px;
  
}

/* Mobile Nav */ /*(displays as a floating hanburger menu on mobile and top nav on desktop)*/
.topnav {
  display: none;
}

label .menu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.right-sidebar-floated-blocks {
  box-sizing: border-box;
}

.right-sidebar-floated-blocks {
  overflow: hidden;
}
 
label .menu { /*(hamburger menu background)*/
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 5;
  width: 60px;
  height: 60px;
  background: #f9f3f3;
  border-radius: 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}
  
label .hamburger { /*(hamburger menu lines)*/
  position: absolute;
  top: 30px;
  left: 16px;
  width: 30px;
  height: 4px;
  background: #01C9C7;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out;
}
  
label .hamburger:after,
label .hamburger:before { /*(hamburger menu open close transition)*/
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #01C9C7;
}
  
label .hamburger:before { /*(hamburger menu open close transition)*/
  top: -10px;
}
  
label .hamburger:after { /*(hamburger menu open close transition)*/
  bottom: -10px;
}
  
label input {
  display: none;
}
  
label input:checked+.menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}
  
label input:checked+.menu .hamburger {
  transform: rotate(45deg);
}
  
label input:checked+.menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
  
label input:checked+.menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
  
label input:checked+.menu+ul {
  opacity: 1;
}
  
label ul { /*(hamburger menu open)*/
  z-index: 200;
  position: absolute;
  top: 500%;
  left: 50%;
  list-style-type: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .25s 0s ease-in-out;
}
  
label a { /*(hamburger menu content)*/
  margin-top: 1.5em;
  font-size: 2em;
  display: block;
  color: #0C1831;
  text-decoration: none;
}
  
label a:hover {
  color: #F04444;
} 


/*---------- END Mobile Nav ----------*/

/*GRADIENT BACKGROUNDS*/
  
/* Gradient Background Teal */
.gradient-background-teal {
  background: linear-gradient(45deg,#018e8c, #00c28b,#8affbd, #01c9c7,#018e8c);
  background-size: 240% 240%;
  animation: gradient-animation 15s ease infinite;
  width: 100vmax
}
  
  @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
/* Gradient Background Blue */
.gradient-background-blue {
  background: linear-gradient(45deg,#0c1831, #142852,#536980, #102042,#0c1831);
  background-size: 240% 240%;
  animation: gradient-animation 15s ease infinite;
  width: 100vmax
}
  
  @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* ---------- END Gradient Backgrounds ---------- */

/* Contact Page */

/* Footer */

/* ---------- END Global Styles ---------- */

/*-*-*-*-* CUSTOM STYLES *-*-*-*-*/

/***** HOME PAGE ****/

/* Hero Section */
.gradient-background-teal {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-wrap, .right-wrap {
  flex: 1;
  margin: 20px;
}

.main-content, .right-sidebar {
  padding: 20px;
  border: 2px;
  box-sizing: border-box;
}

#hero-image {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 10px;
  border: 2px;
  box-sizing: border-box;
}

.hero-text{
  display: block;
  padding: 1.5rem;
  border: 2px;
  box-sizing: border-box;
}

/* Bio Section */
.bio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bio-main-wrap, .bio-right-wrap {
  flex: 1;
  margin: 20px;
}

.bio-main-content, .bio-right-sidebar {
  padding: 20px;
  border: 2px;
  box-sizing: border-box;
  margin: 10px;
}

#profileimage {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px;
}

/* Experience Section */
.experience-title {
  text-align: center;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333333;
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 24px;
  text-align: center;
  width: 200px;
  height: 200px;
}

.flex-item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; /* ensure content does not exceed the tile size */
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%
}

.cardimg { /*experience gifs*/
  max-width: 60%; /* adjust tile image sise to suit */
  max-height: 60%; 
  margin-bottom: 10px; /* space between image and text */
}

.flex-items h3 {
  font-size: 1em; /* adjust font size to suit */
  margin: 0; /* remove default margins */
  padding: 0 5%; /* padding to contain the text */
  word-break: break-word; /* ensure text breaks to prevent overflow */
}

/*---------- END Experience Section ----------*/

/* Projects Section */ /*(horizontal scrolling section - touch scroll on mobile, arrow navigation on desktop)*/
.scrolling_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 24px;
}

.project_card {
  flex: 0 0 auto;
  background-color: #f3f3f3;
  width: 252px;
  height: 557px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333333;
  border: 2px solid rgba(7, 7, 7, 0.12);
  text-align: left;
  margin-bottom: 10px;
  text-wrap: wrap;
}

.projectimg {
  width: 252px;
  height: 252px;
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

/* ---------- END Projects Section ---------- */

/***** PORTFOLIO PAGE ****/

/* Project Gallery */
.image-gallery {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 40px 5%;
}

.heading-text {
  margin-bottom: 2rem;  
  font-size: 2rem;
  text-align: center;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  text-align: center;
}

.image-gallery > li {
  /* fallback */
  display: inline-block;
  width: 350px;
  margin: 0 5px 10px 5px;
  /* end fallback */
  position: relative;
  cursor: pointer;
}

@supports (display: flex) {
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

.image-gallery > li {
    flex-basis: 350px; /*width: 350px;*/
    margin: 0;
  }

  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}
/* ---------- END Project Gallery ---------- */


/*-*-*-*-*- Media Queries (for Desktop) -*-*-*-*-*/

/* CSS for mobile devices */
@media only screen and (max-width: 767px) { 

/* Mobile Nav */
.topnav {
  display: none;
 }

.mobilenav {
  display: block;
}

/* Hero Section */
.gradient-background-teal {
  display: flex;
  flex-direction: column;
}

.main-wrap, .right-wrap {
  margin: 10px 0;
  width: 100%;
}

.main-content {
  padding: 20px;
  border: 2px solid #000;
  box-sizing: border-box;
}

/* Bio Section */
.bio {
  flex-direction: column;
}

.bio-main-wrap {
  width: 100%;
  order: 2;
}

.bio-right-wrap {
  width: 100%;
  order: 1;
}

/* Experience Section */
.flex-container {
  justify-content: space-around;
}

.flex-items {
  width: calc(50% - 30px);
  height: calc(50vw - 30px);
}

.flex-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%; /* adjust padding to fit content within tile */
}
.cardimg {
  width: 60%; /* adjust size to suit mobile */
  height: auto;
  margin-bottom: 10px; 
}

.flex-items h3 {
  font-size: 5vw; /* prevent content overflow */
  padding: 0 5%;
  word-break: break-word; 
}
}

@media only screen and (min-width: 1024px) {
  .experience-title {
    display: block; /* Ensure the title is a block-level element */
    width: 100%; /* Force the title to take full width */
  }

  .flex-items { /* adjust the flex-basis for 4 items in a row and maintain the square ratio */
    flex-basis: calc(25% - 60px); /* subtract margin x2 */
    height: calc(25% - 60px); 
  }
}

@media only screen and (max-width: 1024px) {
/* Hero Section */
.gradient-background-teal {
  display: flex;
  flex-direction: column;
}

.main-wrap, .right-wrap {
  width: 100%;
  flex-basis: auto;
  margin: 10px 0;
}

/* Bio Section */
#bio .bio {
  flex-direction: column;
}

#bio .bio-main-wrap, #bio .bio-right-wrap {
  width: 100%;
  flex-basis: 100%;
  order: 0;
}

#bio .bio-right-wrap {
  order: -1;
}
}

@media only screen and (min-width: 768px) {
/* Hero Section */

#hero .gradient-background-teal {
  align-items: center;
}
  
/* #hero .main-wrap, .right-wrap {
  width: 50%;
} */

#hero .right-wrap {
  /* width: 50%; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
  
#hero .main-content {
  /* width: auto; */
  flex: 3;
  align-items: center;
  justify-content: center;
  /* max-width: 100%; */
}

/* Top Nav */
.mobilenav {
  display: none;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.topnav a {
  display: inline-block;
  color: var(--oxfordblue);
  font-size: 1.1rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 10px;
  padding: 0.5rem;
  border-radius: 4px;
}

.topnav a:hover {
  background-color: var(--robineggblue);
  color: var(--oxfordblue);
  outline: var(--oxfordblue), 4px;
  transition: .5s ease-in-out; 

/* Bio Section */
#bio .bio {
  flex-direction: row-reverse;
}

#bio .bio-main-wrap {
  flex: 3; /* 3 parts avail space - adjust ratio to suit with copy */
}

#bio .bio-right-wrap {
  flex: 2; /* adjust ratio to suit with image */
}

#bio .bio-right-sidebar img {
  max-width: 100%;
  height: auto;
}

#bio .bio-main-content {
  text-align: left;
}

/* Experience Section */

.flex-items {
  width: calc(25% - 30px);
  padding-bottom: calc(25% - 30px);
}

/* Home Page - Projects Section */
.scrolling_container{
  width: auto;
  }
}
}
